aiofiles
aiohttp
aiohttp-cors
beautifulsoup4
fastapi
httpx
loguru
matplotlib
numpy
objgraph
orjson
pandas
pillow
playwright
psutil
py-spy
pympler
pytest
pyyaml
qq-botpy
redis
requests
rich
scalene
scikit-learn
uvicorn
watchdog
websockets