aiofiles
aiohttp
asyncio
colorama
croniter
fastapi>=0.109.0
httpx>=0.26.0
jinja2
pillow
playwright
psutil>=5.9.8
python-dotenv
pytz
qq-botpy
requests
selenium
uvicorn>=0.27.0
webdriver_manager
aiosqlite>=0.19.0
matplotlib
halo
pydantic>=2.7.0
